/* === Defaults === */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  height: 100%;
  color: #000;
  font-size: 16px;
  background-color: #FFF;
}
body {
  min-height: 100%;
  word-wrap: break-word; /* Chrome, Chromium */
  line-height: 1.25; /* Default is between 1.15 and 1.2 */
  font-weight: 400; /* Firefox default */
  font-family: "DejaVu Sans Mono", sans-serif; /* Linux system */
  background-color: #4FA5C8; /* Boston blue */
}

/* === Custom === */
.headline {
  font-size: 2.5rem;
}
.chapter {
  font-size: 2rem;
}
.title {
  font-size: 1.5rem;
}
.subtitle {
  font-size: 1.1rem;
}
.content-box {
  padding: 8px;
}
.line--centered {
  text-align: center;
}
ul.h-menu {
  list-style-type: none;
}
.h-menu li {
  display: inline-block;
  margin-right: 8px;
  background-color: #fff;
  border-radius: 5px;
}
.h-menu li.active {
  background-color: #EFF0F1; /* White smoke */
}
.h-menu li.active a {
  font-style: italic;
}
.h-menu a {
  text-decoration: none;
}

/* === Generic/Custom === */
h1, h2, h3, h4, p {
  margin-bottom: 10px;
}
header {
  /* Limitation: Height is explicit for main to expand remaining height
  Height = Title (headline font*line-height + padding) +
    UL and LI (content-box padding) +
    Menu item (title font*line-height)
  */
  min-height: calc((2.5rem + 1.5rem) * 1.2 + 10px + 8px * 4);
}
main {
  /* Less wide and horizontally centered (margin) */
  width: 70%;
  /* Expands to take all remaining height
  Limitation: Header + Footer heights are explicit (other solutions exists)
  Min-Height = 100vh - (Header + Footer)
  */
  min-height: calc(100vh - (
    /* Header */
    (2.5rem + 1.5rem) * 1.2 + 10px + 8px * 4 +
    /* Footer */
    1rem * 1.2 + 8px * 2
  ));
  margin: 0 auto;
  border-radius: 8px;
  background-color: #EFF0F1; /* White smoke */
}
footer {
  /* Limitation: Height is explicit for main to expand remaining height
  Height = content-box padding + default font*line-height
  */
  min-height: calc(1rem * 1.2 + 8px * 2);
}