<header class="header">
  <h1>{{ site.title }}</h1>
  <span>{{ site.short_desc }}</span>
  <nav class="nav-menu">
    <ul>
      {% if site.item_0 != nil %}
      <li>
        {% if page.menu_item_id == 0 %}<a selected>{{ site.item_0.label }}</a>
        {% else %}<a href="{{ site.baseurl }}/{{ site.item_0.uri }}">
          {{ site.item_0.label }}
        </a>{% endif %}
      </li>{% endif %}{% if site.item_1 != nil %}<!--
        DON'T display or include spaces between list items !
      --><li>
        {% if page.menu_item_id == 1 %}<a selected>{{ site.item_1.label }}</a>
        {% else %}<a href="{{ site.baseurl }}/{{ site.item_1.uri }}">
          {{ site.item_1.label }}
        </a>{% endif %}
      </li>{% endif %}{% if site.item_2 != nil %}<!--
        DON'T display or include spaces between list items !
      --><li>
          {% if page.menu_item_id == 2 %}<a selected>{{ site.item_2.label }}</a>
          {% else %}<a href="{{ site.baseurl }}/{{ site.item_2.uri }}">
            {{ site.item_2.label }}
          </a>{% endif %}
        </li>{% endif %}
    </ul>
  </nav>
</header>