<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_elements.html %}
  <head>
  <!-- Classic layout (Header, Main, Footer) -->
  <body>
    <header>
      {% include header_elements.html %}
    </header>
    <main>
      <!-- Article: Self contained content which can be syndicated -->
      <article class="content-box">
        {{ content }}
        <p><!-- Content separator (temporary) --><br></p>
        <p>
          By <em>{{ page.author}}, {{ page.date | date: "%-d %B %Y"}}</em>
          <br>
          Tags: <em>{{ page.tags | join: ', ' }}</em>
          {% if page.copyright == 1 %}
          <br>
          Copyright {{ page.author}},
          <a href="{{ site.author_license_url }}">
            {{ site.author_license }}<!--
              DON'T display or include extra spaces in link text !
          --></a>
          {% endif %}
        </p>
      </article>
    </main>
    <footer class="content-box line--centered">
      {% include footer_elements.html %}
    </footer>
  </body>
</html>